/* fond de page */
body {
  background-color: peru;
  color: snow;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* bandeau de titre */
h1 { 
  color: palegoldenrod;
  border: none;
  box-shadow: 3px 3px 3px black;
  background-color: rgba(222, 184, 135,0.3);
  border-top: 3px solid rgba(222, 184, 135,0.6);
  border-bottom: 3px solid rgba(222, 184, 135),0.6);
  margin-top: 0.8em;
  text-shadow: 3px 3px 3px tan;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0.8em;
}

/* contenu de la page */
body > * {   padding-left: 10px; }

/* polices de caractères */
body { font-family: Marker Felt, fantasy; }

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: red;
}

#map {
  height: 700px; width: 700px;
  float: left;
  padding-right: 20px;
  margin-right: 20px;
}

#description {
  border-width: 2px;
  border-style: none none none solid;
  border-color: saddlebrown;
  padding-left: 20px;
  float left;
}

a {
  color: paleturquoise;
  text-decoration: none;
}

i {
  float: left;
  border-width: 2px;
  border-style: none none none solid;
  border-color: orange;
  padding-left: 10px;
  padding-right: 30px;
  background-color: lightsalmon;
}

table{
  padding-left: 50px;
  float: left;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: sandybrown;
}

tr:nth-child(odd) {
  background-color: tan;
}

td:nth-child(2) {
  padding-left: 8px;
}
